
@using CordChrisis.Shared
@*@inject HttpClient Http*@
@*@inject Alert AlertBase*@


<div id="Alert" class="alert alert-danger px-4"style="width:100%" role="alert">
    <strong> Super Duper Strong Text</strong> Not as strong text
</div>

@code {

    Alert Info { get; set; }

}
