<footer class=" bg-dark navbar fixed-bottom"style="height:30px">

    <div >

        <p class="footer-links">
            <NavLink class="nav-link" href="">
                <a>Login</a>
            </NavLink>
            ·
            <NavLink class="nav-link" href="userlogin">
                <a>Login</a>
            </NavLink>
            ·
            <NavLink class="nav-link" href="searchpage">
                <a>Search</a>
            </NavLink>
            ·
            <a href="#">About</a>
        </p>

        <p>Chord Crisis © 2020</p>
    </div>

</footer>
@code {

}
