@inherits LayoutComponentBase
@inject Blazored.SessionStorage.ISessionStorageService Storage;

@if (UserID == null)
    {
        Console.WriteLine(UserID);

            <NavMenu />
    }
else
    {
       <NavLoggedIn />
    }
<div class="main BackgroundGrad" style="min-height:100vh;max-height:100%; padding-bottom:45px;">

    <div class="content pt-lg-5">
        @Body
    </div>
</div>
    
    <NavFooter />
       

@code
{
    String OldID;
    String UserID;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        Console.WriteLine("HELP ME DAMMIT");
        UserID = await Storage.GetItemAsync<string>("LoggedIn");
        if (UserID != null)
        {
            Console.WriteLine("I'm logged in");
            if (UserID != OldID)
            {
                OldID = UserID;
                StateHasChanged();
            }
        }
    }



}
