

<nav class="navbar navbar-dark bg-dark fixed-bottom navbar-expand-sm justify-content-around" style="height:40px;">
    
        <a class="navbar-brand text-light" >Footer</a>
       
            

           
                    <NavLink class=" NeonO " href="">
                        About
                    </NavLink>
               
               
                    <NavLink class=" NeonO" href="">
                        Terms
                    </NavLink>
                
                
                    <NavLink class=" NeonO" href="">
                        Credits
                    </NavLink>
             
            
      
    
</nav>


@code {



}
