

    <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-dark border-bottom box-shadow mb-3 fixed-top justify-content-between">
            <div class="flex-row d-flex">
                <div>
                    <a class="navbar-brand text-light" href="/"><img class="NeonY LogoSize"  src="/css/images/ccglow.png"></a>
                </div>
                <NavLink class="nav-link NeonV h5 align-self-center" href="searchpage">
                    Search
                </NavLink>
                <NavLink class="nav-link NeonV h5 align-self-center" href="">
                    Build
                </NavLink>
            </div>

            <div class=" dropdown dropleft ">
                <div class=" dropdown-toggle " id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor:pointer">
                    <img class="dropdown-toggle  rounded-circle  border border-warning border-1 ml-auto IconSize"  src="/css/images/loginGenericUserPFP.jpg" id="pfpDropDown">
                </div>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <h4 class="dropdown-header text-light">Sign In Options</h4>
                    <NavLink class="nav-link NeonV h5 " href="login">
                        Login
                    </NavLink>

                    <div class="dropdown-divider"></div>
                    <NavLink class="nav-link NeonV h5 " href="signUp">
                        Sign Up
                    </NavLink>
                </div>
            </div>

    </nav>


@code {


}
