@page "/account"

<div class="container rounded">
<h3>AccountPage</h3>
    <div class="w-75 rounded bg-light ">
        <img class="rounded-circle border border-white" src="/css/images/pfp2.jpg">
        </div>
</div>
@code {

}
