@page "/"
@inject HttpClient Http;
@using CordChrisis.Shared.Models

@*<Alert/>*@
    <div class=" container rounded mt-4 p-1 bg-light">
        <div class="jumbotron">
            <h1 class="display-3">Chord Crisis</h1>
            <p class="lead">
                This is flavor text describing why exactly this game is so good. It has features, like connecting to online APIS, making your own maps, and sharing them too!
            </p>
            <hr class="my-2">
            <div>
                <p>Find the right Map for you, or make one yourself!</p>
                <div>
                    <button class="btn btn-primary btn-lg" href="searchpage"> Search</button>
                    <button class="btn btn-secondary btn-lg" href=""> Map Maker</button>
                </div>
            </div>
        </div>
         <div>
            <p class=" h2"> What People are playing</p>
             <div class="bg-secondary rounded p-2 ">
            <MapSearchResults PopularMaps=getPopularMaps()/>
                </div>
         </div>
        
    </div>

@code{
    List<Map> popularMaps { get; set; }
    public async Task<List<Map>> getPopularMaps()
    { 
        
       return await Http.GetJsonAsync<List<Map>>(@"searchpage/getpopular");
        

    }
}