
@page "/login"
@using CordChrisis.Shared
@using CordChrisis.Shared.Models
@using System.Security;
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject Blazored.SessionStorage.ISessionStorageService Storage
@inject IJSRuntime js

<div class="container rounded mt-4 p-1 bg-light">
    <div class="jumbotron">
        <h2>Login!</h2>


        <div class="input-group mb-2 mr-sm-2">
            <input id="LoginInput" type="text" class="form-control mb-2 mr-sm-2" placeholder="Email" @bind="email" />
            <input id="PassWordInput" type="password" class="form-control mb-2 mr-sm-2" placeholder="Password" maxlength="16" @bind="password" />
        </div>

        <div class="">
            @if (success == false)
            {
                @if (isEmail == false && isPassword == false)
                {
                    <div>
                        <p>Email and Password Fields are blank</p>
                    </div>
                }
                else if (isPassword == false)
                {
                    <div>
                        <p>Password Field Cant be Blank</p>
                    </div>
                }
                else if (isEmail == false)
                {
                    <div>
                        <p>Email Field Cant be Blank</p>
                    </div>
                }
                else if (islogin == false)
                {
                    <div>
                        <p>Oh no! You Dumb Bitch, Your Email or Password was Incorrect</p>
                    </div>

                }

            }

        </div>
        <p>Don't have an Account? Make one <a href="signup" style="color:dodgerblue">Here</a>.</p>
        <div>

            <button id="SubmitloginQuery" class="btn btn-primary btn-block" @onclick="SubmitLoginQuery"> Submit</button>

        </div>

        <div class="">
            @if (loadingData)
            {
                <div class="d-flex justify-content-center">
                    <div class="spinner-grow" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            }
        </div>


    </div>
</div>

@code {

    string email { get; set; }
    string password { get; set; }
    bool success = false;
    bool loadingData = false;
    bool isEmail = true;
    Login checkData = new Login();
    bool isPassword = true;
    bool islogin = true;


    protected async override void OnInitialized()
    {
       Task<bool> checkGameRunning = Storage.GetItemAsync<bool>("GameRunning");
        bool isRunning = await checkGameRunning;

        if (isRunning)
        {
            await this.js.InvokeVoidAsync("quit");
            await Storage.SetItemAsync("GameRunning",false);
            base.OnInitialized();
        }
        Console.WriteLine(isRunning);
        base.OnInitialized();


    }

    public async Task<bool> SubmitLoginQuery()
    {

        Console.WriteLine("THISISEMAIL");

        Console.WriteLine(email);

        if (email == null && password == null)
        {

            Console.WriteLine(" there both empty!");
            success = false;
            isEmail = false;
            isPassword = false;
            return success;

        }


        if (email == String.Empty && password == String.Empty)
        {

            Console.WriteLine(" there both empty!");
            success = false;
            isEmail = false;
            isPassword = false;
            return success;

        }

        if (email == null || email == String.Empty)
        {


            Console.WriteLine(" Email is empty!");
            success = false;
            isEmail = false;
            isPassword = true;
            return success;
        }


        if (password == null || password == String.Empty)
        {

            Console.WriteLine("password is empty!");
            success = false;
            isPassword = false;
            isEmail = true;
            return success;
        }



        Login loginObject = new Login
        {
            Email = email,
            Password = password
        };
        Console.WriteLine(email);

        loadingData = true;
        checkData = await Http.PostJsonAsync<Login>("userlogin/post", loginObject);
        Console.WriteLine(checkData.ID);
        loadingData = false;

        if (checkData.Email == "X")
        {
            islogin = false;
            isEmail = true;
            isPassword = true;
            success = false;
            return success;
        }
        else
        {
            await SaveLogOnToSession(checkData.ID.ToString());
            NavigationManager.NavigateTo("/");
            success = true;
            return success;
        }

    }
        async Task SaveLogOnToSession(string UserID)
    {
        await Storage.SetItemAsync("LoggedIn", UserID);
    }

}

