@{
    ViewData["Title"] = "Home Page";
    //Layout = null;
}
<html>
<head>
    <title>Hello React</title>
</head>
<body>
    @*@Html.React("CommentsBox",new{null});*@
    <button id="Supdood">Hello this is pretty cool!</button>
    <div id="content"></div>
    <div id="contentz"></div>
    <script src="~/js/ReactDevelopment.js"></script>
    <script src="~/js/reactdomdevelopment.js"></script>
    @for (int x = 0; x < 10; x++)
    { 
    <div> succ my nuts </div>
    }
    <script src="@Url.Content("~/js/HomeComponents.jsx")"></script>
    @Html.ReactInitJavaScript()
</body>
</html>